.reviews {
	font-family: 'Calibre-Regular';
	font-size: 14px;
    line-height: 1.42857143;
    color: #333;
    -webkit-font-smoothing: antialiased;
    background-color: rgb(250,250,250);
    width: 710px;

}