/*GLOBAL STYLING ONLY!  Apply context specific styling to component directly in parent component*/

.expandableParagraphDefaults {
	text-align: left;
}

.expandableLink {
	color: #9b9b9b !important;
	cursor: pointer !important;
	user-select: auto !important;
}
