.reviewsHeader {
  display: block;
  max-width: 900px;

}

.overview {
	position: relative;
	display: block;
	width: 100%;
	margin: 0 20px 0 20px;
	z-index: 0;

}

.title {
	position: relative;
	left: 0;
	display: inline-block;
	height: 16px;
	/*border: 10px solid red;*/
	margin: 0 0 0 0;
	padding: 0 0 0 0;
    font-size: 16px;
    color: black;
}

.titleRating {
	position: relative;
	left: 0;
	display: inline-block;
	height: 16px;
	/*border: 10px solid red;*/
	margin: 5px 5px 5px 5px;
	padding: 0 0 0 0;
	
    font-size: 16px;
    color: #ae002f;
}

.googleReviews {
	height: 16px;
	color: #656666;
	font-weight: 400px;
	font-size: 16px;
	font-variant-caps: normal;
	font-variant-east-asian: normal;
	font-variant-ligatures: normal;
	text-transform: uppercase;
	letter-spacing: 1.376px;
	position: relative;
	display: inline;
	-webkit-font-smoothing: antialiased;

}

.reviewsCount {
	display: inline;
}

.rating {
	position: relative;
	display: inline-block;
	width: 85px;
	left: 0px;
	height: 16px;
	padding: 0 0 0 10px;
	margin: 0 0 0 0;
	/*border: 10px solid red;*/
	color: #ae002f;

}

.starScale {
	position: relative;
	display: inline-block;
	width: 75px;
	height: 15px;
	right: 0px;
	z-index: 5;
	

}

.searchBox {
	float: right;
	right: 0px;
	display: inline-block;
	padding: 0 0 0 0;
	margin: 0 0 0 0;

}


.hr {
	display: block;
	position: relative;
	margin: 20px 20px 20px 20px;
	padding: 0 0 0 0;
	max-width: 100%;
	bottom: 0px;

}