.reviewsHeader {
  display: block;
  max-width: 670px;

}

.overview {
	position: relative;
	display: block;
	width: 100%;
	margin: 0 20px 0 20px;
	z-index: 0;

}

.title {
	position: relative;
	left: 0;
	display: inline-block;
	height: 30px;
	/*border: 10px solid red;*/
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	font-size: 30px;
}

.reviewsCount {
	display: inline;
}

.rating {
	position: relative;
	display: inline-block;
	width: 150px;
	left: 0px;
	height: 30px;
	padding: 0 0 0 10px;
	margin: 0 0 0 0;
	/*border: 10px solid red;*/

}

.starScale {
	position: relative;
	display: inline-block;
	width: 150px;
	height: 30px;
	right: 0px;
	z-index: 5;

}

.searchBox {
	float: right;
	right: 0px;
	display: inline-block;
	padding: 0 0 0 0;
	margin: 0 0 0 0;

}


.hr {
	display: block;
	position: relative;
	margin: 20px 20px 20px 20px;
	padding: 0 0 0 0;
	width: 100%;
	bottom: 0px;

}