.reviewAggregates {
  position: relative;
  display: block;
  max-width: 900px;
  margin: 26px 32px 32px 100px;
  padding: 0 0 0 0;

  font-family: 'Raleway', sans-serif;;
  font-size: 16px;

}

.aggregateReview {
  height: 30px;
  width: 100%;
  margin: 0 0 0 0;
}

.name {
  display: inline-block;
  position: absolute;
  left: 0;
  padding-right: 5px;

}

.rating {
  display: inline-block;
  position: absolute;
  right: 135px;

}

.StarScale {
  position: absolute;
  height: 15px;
  width: 75px;
  color: black !important;
  left: 0;

}

.fiveStarScale {
  height: 15px;
  width: 75px;
  left: 0;
  position: absolute;

}

.rightColumn {
	display: inline-block;
	position: relative;
	/*border: 10px solid red;*/
	padding: 0 0 0 0;
	margin: 5px 50px 0px 30px;
	width: 35%;
}

.leftColumn {
	display: inline-block;
	position: relative;
	/*border: 10px solid blue;*/
	padding: 0 0 0 0;
	margin: 5px 30px 0px 80px;
	width: 35%;
}
