
.listItem {
	display: block;
	max-width: 900px;

}

.userDetails {
  display: block;
  position: relative;
  align-items: left;
  /*border: 3px solid blue;*/
  overflow: hidden;
  padding: 0 0 0 0;
  margin: 0px 0px 0px 50px;
  color: #ae002f;

}

.userShowInLineBlock {
	display: inline;
	position: absolute;
	right: 0;
	/*border: 3px solid purple;*/
	width: 100px;
	margin: 0 0 0 0;
	padding: 0 0 0 0;

}

.userPhoto {
	display: inline-block;
	position: absolute;
	left: 0;
	top: 0;
	width: 50px;
	height: 50px;
	overflow: hidden;
	/*border: 3px solid yellow;*/
	background-color: yellow;
	margin: 0 0 0 0;
	padding: 5px 5px 5px 5px;
}

.usernameLeftBoundary {
	display: inline-block;
	position: absolute;
	left: 80px;
	overflow: hidden;
	max-width: 500px;
	min-width: 200px;
	height: 50px;
	/*border: 3px solid red;*/
    margin: 0 0 0 0;
	padding: 0 0 0 0;

}

.username {
	display: block;
	position: absolute;
	left: 20px;
	height: 50%;
	/*border: 3px solid #73AD21;*/
	color: #101820;
    margin: 0 0 0 0;
	padding: 0 0 0 0;

}

.date {
	display: block;
	position: absolute;
	top: 66%;
	left: 20px;
	height:50%;
	/*border: 3px solid #73AD21;*/
    margin: 0 0 0 0;
	padding: 0 0 0 0;
    color: #656666;
	font-size: 12px !important;
    line-height: 18px !important;
    letter-spacing: 0.2px !important;
    font-weight: 300 !important;

}

.pullRight {
	display: inline-block;
	position: relative;
	top: 0;
	float: right;
	/*border: 3px solid #73AD21;*/
	max-width: 20px;
	max-height: 20px;
    margin: 20px 20px 20px 20px;
	padding: 0 0 0 0;
}

.flagButton {
	display: inline;
	height: 20px;
	width: 20px;
    margin: 0 0 0 0;
	padding: 0 0 0 0;
	cursor: pointer !important;
	user-select: auto !important;

}

.comment {
	display: block;
	text-align: left;
	margin: 0 0 0 20px;
	padding: 0 50px 0 130px;
	width: 600;
	font-size: 16px;
}

.hr {
	padding: 0 0 0 0;
	margin: 0 5px 0 5px;
	max-width: 100%;
}