
.listItem {
	display: block;
	max-width: 670px;

}

.userDetails {
  display: block;
  position: relative;
  align-items: left;
  /*border: 3px solid blue;*/
  overflow: hidden;
  padding: 0 0 0 0;
  margin: 20px 20px 20px 20px;


}

.userShowInLineBlock {
	display: inline;
	position: absolute;
	right: 0;
	/*border: 3px solid purple;*/
	width: 100px;
	margin: 0 0 0 0;
	padding: 0 0 0 0;

}

.userPhoto {
	display: inline-block;
	position: absolute;
	left: 0;
	top: 0;
	width: 20px;
	height: 20px;
	overflow: hidden;
	/*border: 3px solid yellow;*/
	background-color: yellow;
	margin: 0 0 0 0;
	padding: 5px 5px 5px 5px;
}

.usernameLeftBoundary {
	display: inline-block;
	position: absolute;
	left: 80px;
	overflow: hidden;
	max-width: 500px;
	min-width: 200px;
	height: 100px;
	/*border: 3px solid red;*/
    margin: 0 0 0 0;
	padding: 0 0 0 0;

}

.username {
	display: block;
	position: absolute;
	left: 20px;
	height: 50%;
	/*border: 3px solid #73AD21;*/
    margin: 0 0 0 0;
	padding: 0 0 0 0;


}

.date {
	display: block;
	position: absolute;
	top: 50%;
	left: 20px;
	height:50%;
	/*border: 3px solid #73AD21;*/
    margin: 0 0 0 0;
	padding: 0 0 0 0;

}

.pullRight {
	display: inline-block;
	position: relative;
	top: 0;
	float: right;
	/*border: 3px solid #73AD21;*/
	max-width: 20px;
	max-height: 20px;
    margin: 0 0 0 0;
	padding: 0 0 0 0;
}

.flagButton {
	display: inline;
	height: 20px;
	width: 20px;
    margin: 0 0 0 0;
	padding: 0 0 0 0;

}

.comment {
	display: inline-block;
	text-align: left;
	margin: 0 20px 0 20px;
	padding: 0 0 0 0;
}

.hr {
	padding: 0 0 0 0;
	margin: 0 20px 0 20px;
	width: 100%;
}