.starScale {
	height: 20px;
	width: 100px;
}

.filledStar {
	height: 100%;
	width: 20%;
	display: inline-block;
	fill: currentColor;
}

.star {
	height: 100%;
	width: 20%;
	display: inline-block;
	fill: silver;
}